---
layout: default
title: The MAX
---

<!-- Starting part -->
<div class="row part starting_part">
    <div class="col-md-3">
        <div class="address">
            <p>
                145/1A Nguyen Dinh Chinh, Ward 1 <br/>
                Phu Nhuan Dist., HCMC
            </p>
            <p>
                <span class="contact_item">t:</span> +84 (8) 3845 2184 / +84 904 415 051 <br/>
                <span class="contact_item">e:</span> <a href="mailto:info@themax.com.vn">info@themax.com.vn</a>
            </p>
        </div>
        {% include home/svg_dotted.html %}
        <div class="description">
            <strong class="title">the max</strong>
            <p>
                The Max Communications JSC., is an integrated communication agency specialized in Digital, PR, training & BTL services. The Max was born to be an enabler for clients to maximize their businesses performance.
            </p>
        </div>
        {% include home/svg_dotted.html %}
        <div class="engage_customer">
            Join us on:
            <!-- @TODO add facebook and twitter here -->
        </div>
    </div>
    <div class="col-md-9"></div>
</div>
{% include home/hr_to_top.html %}
<!-- US - who we are -->
<div class="row part us_part">
    <div class="col-md-3">
        <span class="part_title" style="color: #ee4023">
            x (US)
        </span>
        <br>
        <span>who we are</span>
    </div>
    <div class="col-md-9 row">
        <div class="col-md-6">
            <p>
                Founded by a group of experienced communication experts, we deliver some of the best strategies, social media & community building applications, event management, workshops & training for small international companies, Vietnam SMEs and non-commercial organizations.
            </p>
        </div>
        <div class="col-md-6">
            <p>
                We assemble a project team that best suits our client’s needs, timeframes and budgets.  Excellence derived from the creativeness, knowledge, commitment and quality of services available through our dedicated human capital.
            </p>
        </div>
        <div class="motto_img">
            <img src="/images/the-max-motto.png" alt="">
        </div>
    </div>
</div>
{% include home/hr_to_top.html %}
<!-- Services - what we offer -->
<div class="row part service_part">
    <div class="col-md-3">
        <span class="part_title" style="color: #f48245">
            x (SERVICES)
        </span>
        <br>
        what we offer
    </div>
    <div class="col-md-9 row">
        <ul>
            <li>360<sup>o</sup> approach to branding</li>
            <li>Digital marketing solutions</li>
            <li>Event management</li>
            <li>Digital & Marketing training specialists</li>
            <li>Creative services</li>
        </ul>
    </div>
</div>
{% include home/hr_to_top.html %}
<!-- Works - what we've done -->
<div class="row part works_part">
    <div class="col-md-3">
        <span class="part_title" style="color: #50b748">
            x (WORK)
        </span>
        <br>
        what we've done
    </div>
    <div class="col-md-9 row">
        <ul>
            <li>Branding</li>
            <li>Digital campaign</li>
            <li>Event management</li>
            <li>Training</li>
            <li>Creativity</li>
        </ul>
    </div>
</div>
{% include home/hr_to_top.html %}
<!-- Clients -->
<div class="row part clients_part">
    <div class="col-md-3">
        <span class="part_title" style="color: #f48245">
            x (CLIENTS)
        </span>
        <br>
    </div>
    <div class="col-md-9 row"></div>
</div>
{% include home/hr_to_top.html %}
<!-- Contact -->
<div class="row part contact_part">
    <div class="col-md-3">
        <span class="part_title" style="color: #00b8f1">
            x (CONTACT)
        </span>
        <br>
    </div>
    <div class="col-md-9 row"></div>
</div>
{% include home/hr_to_top.html %}
