<nav class="navbar navbar-default nav_bar" role="navigation">
    <div class="navbar-header">
        <a href="{{ site.baseurl }}" class="navbar-brand">
            <!-- <span class="logo"></span> -->
            The MAX
        </a>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            {% for link in site.links %}
                <li>
                    <a href="{{ link.url }}">
                        {{ link.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
